.env
.venv/
__pycache__/
*.pyc

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan

# Frontend
frontend/node_modules/
frontend/dist/
frontend/playwright-report/
frontend/test-results/
frontend/.env
logs/server.log
*/.DS_Store
.DS_Store
mlops.egg-info/dependency_links.txt
mlops.egg-info/entry_points.txt
mlops.egg-info/PKG-INFO
mlops.egg-info/requires.txt
mlops.egg-info/SOURCES.txt
mlops.egg-info/top_level.txt
